.DS_Store
.idea
.vscode
venv
venv-test
tmp_cat.log
__pycache__
.mypy_cache
*.pyc
.pyc
# skip the models directory
models/*
!models/*.sh

# tmp folder
tmp/*

# env folder
env/*

# log files
medcat.log
