medcat~=0.3
gensim~=3.7
scipy~=1.4
tokenizers~=0.8.0
spacy==2.2.4
torch~=1.4.0
torchvision~=0.5.0
Flask==1.1.1
simplejson==3.17.0
gunicorn==20.0.4
injector==0.18
flask-injector==0.12
scikit-learn~=0.22